<!DOCTYPE html>
﻿<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Progect_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Progect_1.styles.css" asp-append-version="true" />
   
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@700&family=Raleway:wght@300,400;600;700&display=swap"
          rel="stylesheet">
    
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div id="mainbox" onclick="openFunction()">&#9776;</div>
                <!-- <div class="header_logo">
                    <img src="img/png-transparent-a-cloud-dark-clouds-flaky-clouds-cloud.png" alt="">
                </div> -->
                <nav class="nav">
                    <a class="nav_link" href="#">МЕНЮ</a>
                    <a class="nav_link" href="#">КОНТАКТЫ</a>
                    <a class="nav_link" href="#">ЛОКАЦИЯ</a>
                    <a class="nav_link" href="#">ВХОД</a>
                </nav>
            </div>
        </div>
    </header>
    
  <div>
<main role="main">
@RenderBody()
</main>
</div>
  
    <script src="main.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</head>
</html>

    
