
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>KYOTO</title>
   @await Html.PartialAsync("csspartial")
   
  

</head>

<body>
   
   <!-- header section starts     -->

   <section class="header">

      <a asp-action="Index" asp-controller="Home" class="logo"> KYOTO </a>

      <nav class="navbar">
         <a asp-controller="Home" asp-action="Menu">МЕНЮ</a>
         <a href="#contacts">КОНТАКТЫ</a>
         <a asp-controller="Home" asp-action="staff">СОТРУДНИКИ</a>
         <a asp-controller="Home" asp-action="Review">ОТЗЫВЫ</a>
      </nav>

      <div id="menu-btn" class="fas fa-bars"></div>

   </section>

   <!-- header section ends    -->

   
   <!-- order section ends -->

   <!-- footer section starts  -->
   @RenderBody()
   <section class="footer">
        @*@foreach(var item in Model.Creators)
        {
            <tabele>
                <tr>
                    <td ><p style="color:white">@item.Name</p></td>
                    <td><p style="color:white">@item.Lastname</p></td>
                    <td><p style="color:white">@item.Link</p></td>
                </tr>
            </tabele>
        }*@

      <div class="share" id="contacts">
         <a href="https://web.whatsapp.com/" class="fab fa-whatsapp"></a>
         <a href="https://www.youtube.com/user/MGTUStankin" class="fab fa-youtube"></a>
         <a href="https://web.telegram.org/z/" class="fab fa-telegram"></a>
         <a href="https://vk.com/msut_stankin" class="fab fa-vk"></a>
      </div>

      <div class="credit"> created by <span>KYOTO</span> | all rights reserved! </div>

   </section>

   <!-- footer section ends  -->
   



   <script src="https://use.fontawesome.com/329c6c77c2.js"></script>
   <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <!-- custom js file link  -->
    <script src="~/js/form.js"></script>
    <script src="~/js/script.js"></script>
  

   <script>
      lightGallery(document.querySelector('.gallery .gallery-container'));
   </script>
</body>

</html>