<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Complete Responsive Food / Restaurant Website Design Tutorial</title>
   @await Html.PartialAsync("csspartial")

</head>

<body>
   
   <!-- header section starts     -->

   <section class="header">

      <a asp-action="Index" class="logo"> KYOTO </a>

      <nav class="navbar">
         <a asp-controller="Home" asp-action="Menu">МЕНЮ</a>
         <a href="#КОНТАКТЫ">КОНТАКТЫ</a>
         <a asp-controller="Home" asp-action="staff">СОТРУДНИКИ</a>
         <a href="#ВХОД" class="login">ВХОД</a>
      </nav>

      <div id="menu-btn" class="fas fa-bars"></div>

   </section>

   <!-- header section ends    -->

   
   <!-- order section ends -->

   <!-- footer section starts  -->
   @RenderBody()
   <section class="footer">


      <div class="share">
         <a href="http://facebook.com" class="fab fa-facebook-f"></a>
         <a href="http://twitter.com" class="fab fa-twitter"></a>
         <a href="http://telegram.com" class="fab fa-telegram"></a>
         <a href="http://vk.com" class="fab fa-vk"></a>
      </div>

      <div class="credit"> created by <span>KYOTO</span> | all rights reserved! </div>

   </section>

   <!-- footer section ends  -->
    <div class="modal">
    <div class="form">
        <div class="form-close">
            <span></span>
        </div>
        <div class="form-buttons">
            <button class="form-buttons__btn form-buttons__log">Вход</button>
            <button class="form-buttons__btn form-buttons__reg">Регистрация</button>
        </div>
        <div class="form-wrapper">
            <form action="#" method="post" class="form-log">
                <div class="form-group">
                    <input type="login" id="login" placeholder="Логин" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Пароль" required>
                </div>
                <div class="form-save">
                    <input type="checkbox" id="save"><label for="save">Сохранить пароль</label>
                </div>
                <input type="submit" value="Вход">
            </form>
            <form action="#" method="post" class="form-reg">
                <div class="form-group">
                    <input type="name" id="name" placeholder="Имя" required>
                </div>
                <div class="form-group">
                    <input type="surname" id="surname" placeholder="Фамилия" required>
                </div>
                <div class="form-group">
                    <input type="tel" id="phone" placeholder="Номер телефона"
    pattern="[8]-[0-9]{3}-[0-9]{3}-[0-9]{4}"
    required>
    <small>Формат: 8-xxx-xxx-xxxx</small>
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Пароль" required>
                </div>
                <input type="submit" value="Регистрация">
            </form>
        </div>
    </div>
   </div>



   <script src="https://use.fontawesome.com/329c6c77c2.js"></script>
   <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <!-- custom js file link  -->
    <script src="~/js/form.js"></script>
    <script src="~/js/script.js"></script>
  

   <script>
      lightGallery(document.querySelector('.gallery .gallery-container'));
   </script>
</body>

</html>