<div class="thanks_page">
	<h1>Спасибо за заказ!</h1>
	<h2>Ожидайте ваш заказ, в течение часа наш оператор свяжется с вами</h2>
	<a asp-action="Index" asp-controller="Home" >Вернуться на главную</a>

</div>