@model ViewModel
<section class="order" id="order">

      <div class="heading">
         <span>Заказать сейчас</span>
         <h3>Быстрая доставка до дома</h3>
      </div>

      <form asp-controller="Order" asp-action="Order">
         <div class="box-container">
            <div class="box">
               <div class="inputBox">
                  <span>Имя</span>
                  <input type="text" name="Name" placeholder="Введите ваше имя" required
                  pattern="^[А-Яа-яЁё]+$">
               </div>
               <div class="inputBox">
                  <span>Фамилия</span>
                  <input type="text" name="LastName" placeholder="Введите вашу фамилию" required
                  pattern="^[А-Яа-яЁё]+$">
               </div>
               <div class="inputBox">
                  <span>Блюдо</span>
                  <input type="text" name="NameOfFood" placeholder="Введите назавание блюда" required>
               </div>
            </div>
            <div class="box">
               <div class="inputBox">
                  <span>Напиток</span>
                  <input type="text" name="NameOfDrink" placeholder="Введите название напитка" required>
               </div>
               <div class="inputBox">
                  <span>Адрес</span>
                  <textarea name="Adress" placeholder="Введите ваш адрес" cols="30" rows="6" required></textarea>
               </div>
            </div>
         </div>
         <div class="body_button">
            <input type="submit" value="Отправить заказ" name="comment_add" class="button_hola">                   
         </div>
     </form>
   </section>
    @*<section class="creation" id="contacts">
        <div class="container">
            <h2 class="creation-title">Создатели</h2>
            <div class="creation-wrapper">
                <div class="row">
                    @foreach (var creators in Model.Creators)
                    {
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="creation-card">
                                <h3 class="creation-card__name">@creators.Lastname @creators.Name</h3>
                                <p class="creatin-card__link">Ссылка на соцсеть: <span>@creators.Link</span></p>
                            </div>
                        </div>                      
                    }
                </div>
            </div>
        </div>
    </section>*@