body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

/* Container
*********************/
.container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 0 50px; */
}

/* Sidemenu
*********************/

#mainbox {
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
    padding: 20px 40px;
    background-color: transparent;
    color: white;
}

.sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: #574242;
    z-index: 999;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}


    .sidemenu a {
        padding: 8px 8px 8px 64px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        text-align: center;
    }

        .sidemenu a:hover {
            color: #e0d3bb;
        }

/* .sidemenu .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    margin-left: 32px;
    
} */

/* Header
*********************/
.header {
    width: 100%;
    max-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_logo {
    position: absolute;
    left: 100px
}

.header_inner {
    display: flex;
    justify-content: space-between;
    height: 50px;
    /* padding-left: 100px; */
    /* border-bottom: 1px solid #515369; */
    /* padding: 35px 0; */
    /* align-items: center; */
}


.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #393232;
    animation-name: show_header;
    animation-duration: 0.5s;
}

@keyframes show_header {
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

/* Nav
*********************/

.nav {
    display: flex;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}



.nav_link {
    /* margin-left: 50px; */
    padding: 15px 45px;
    color: #fff;
    text-decoration: none;
    /* opacity: .75; */
    transition: .1s linear;
    border: 1px solid #fff;
}

    .nav_link:first-child {
        margin-left: 0;
    }

    .nav_link:hover {
        background-color: #fff;
        color: #574242;
    }

/* Our Mission
*********************/

.ourMission {
    background-color: #574242;
    color: #fff;
    position: relative;
    top: -100px;
    left: 0;
    width: 85%;
}

.ourMission_inner {
    padding-top: 90px;
    padding-bottom: 350px;
}

.ourMission_title {
    padding-left: 150px;
    padding-bottom: 20px;
    font-size: 46px;
}

.columns-2 {
    column-count: 2;
    column-gap: 50px;
    padding-left: 350px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.ourMission_text {
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    /* padding-right: 150px; */
    color: white;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/
    left: 1000px;
}

    .ourMission_text:after {
        display: block;
        position: absolute;
        left: 0;
        /*изменить на right:0;, чтобы изменить направление подчёркивания */
        width: 0;
        /*задаём длинну линии до наведения курсора*/
        height: 2px;
        /*задаём ширину линии*/
        background-color: #fff;
        /*задаём цвет линии*/
        content: "";
        transition: width 1s ease-out;
        /*задаём время анимации*/
    }

    .ourMission_text:hover:after,
    .ourMission_texta:focus:after {
        width: 100%;
        /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    }

/* Photo
*********************/
.photo {
    position: absolute;
    right: 0;
    bottom: -100px;
}

/* Animation
*********************/
.animation {
    position: relative;
    height: 1000px;
}


.animation_title {
    font-size: 100px;
    line-height: 1;
    color: #e0d3bb;
    position: relative;
    z-index: 2;
    padding-left: 40px;
}


@keyframes moving {
    100% {
        transform: rotate(-360deg);
    }
}


.rotation1 {
    position: absolute;
    animation: moving 20s infinite linear;
    top: 0;
    right: 90px;
}

.rotation2 {
    position: absolute;
    animation: moving 20s infinite linear;
    top: 250px;
    left: 50px;
    z-index: 1;
}

.rotation3 {
    position: absolute;
    animation: moving 20s infinite linear;
    top: 400px;
    right: 300px;
}

.rotation4 {
    position: absolute;
    animation: moving 20s infinite linear;
    top: 600px;
    left: 500px;
}
/* Intro
*********************/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: #31344e url("img/pexels-maria-orlova-4916562.jpg") center no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.intro_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: white;
    font-weight: bold;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    line-height: 1.1;
}

.intro_inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro_subtitle {
    font-size: 22px;
    color: white;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}
