@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&family=Montserrat:ital,wght@1,100&family=Open+Sans:wght@700&family=Rajdhani&family=Raleway:wght@400;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap'); */

:root {
    --brown: #1f0a04;
    --red: #981111;
    --peru: #cd9452;
    --black: #222;
    --white: #fff;
    --light-black: #666;
    --light-white: #ccc;
    --light-bg: #f5f5f5;
    --dark-bg: rgba(0, 0, 0, .7);
    --border: .1rem solid #aaa;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43, 1.1, .62, 1.08);
    text-transform: capitalize;
}

    * > img {
        user-select: none;
        pointer-events: none;
    }

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

    html::-webkit-scrollbar {
        width: 1rem;
    }

    html::-webkit-scrollbar-track {
        background-color: var(--white);
    }

    html::-webkit-scrollbar-thumb {
        background-color: var(--brown);
    }

section {
    padding: 5rem 10%;
}


/*delevery start
*/
/*.delever {
    color: var(--brown);
    margin-bottom: 10px;
    padding: 10px 0;*/
    /* grid-column: 1/-1; */
    /*text-align: center;
    font-size: 30px;
}

.delever_window {
    margin: 70px;
}

.window {
    font-size: 20px;
}

.text_d {
    font-size: 15px;
}

#Name {
    color: #1f0a04;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    resize: none;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

#Surname {
    color: #1f0a04;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    resize: none;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

#NameOfFood {
    color: #1f0a04;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    resize: none;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

#NameOfDrink {
    color: #1f0a04;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    resize: none;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

#body_button {
    background: #000;
    height: 20px;
    margin: 0;
    padding: 0;
    color: #ddf;
    background-color: #112;
    text-align: center;
    padding-top: 20px;
}

.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after {
    transition: all ease .5s;
}

.button_hola {
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

    .button_hola span {
        display: inline-block;
        width: 100%;
        padding: 0.6em 2em;
        line-height: 15px;
        font-size: 10px;
    }

    .button_hola:hover span {
        background-color: #fff;
        color: #112;
    }

    .button_hola::before,
    .button_hola::after,
    .button_hola span::before,
    .button_hola span::after {
        content: '';
        position: absolute;
        border: 1px;
    }

    .button_hola::before,
    .button_hola span::before {
        border-style: solid none;
    }

    .button_hola::before,
    .button_hola span::after {
        left: 0;
        top: -0.4em;
        width: 100%;
        height: calc(100% + 0.8em);
    }

    .button_hola::after,
    .button_hola span::after {
        border-style: none solid;
    }

    .button_hola::after,
    .button_hola span::before {
        top: 0;
        left: -0.4em;
        height: 100%;
        width: calc(100% + 0.8em);
    }

    .button_hola:hover::after,
    .button_hola:hover span::after {
        transform: scaleY(0);
    }

    .button_hola:hover::before,
    .button_hola:hover span::before {
        transform: scaleX(0);
    }

    .button_hola:hover span::after,
    .button_hola:hover span::before {
        opacity: 0;
    }*/

/*delevery end
*/

/*location start
*/


.location {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.location_main {
/*    display: flex;
*/    flex-wrap: wrap;
}

.location_name {
    color: var(--brown);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 0;
    /* grid-column: 1/-1; */
    text-align: center;
    font-size: 3.5rem;
}

.location_item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.location_image {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.location_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 7, 7, 0.9);
    opacity: 0;
    transition: opacity .2s linear;
}


.location_text {
    font-size: 14px;
    color: #fff;
    font-family: 'Libre Bodoni', serif;
}

.location_item:hover .location_content {
    opacity: 1;
}

.map_l{
    margin-top: 20px;
}



/*location end
*/

/*menu start
*/

.heading_m {
    background-color: var(--white);
    color: var(--brown);
    margin-bottom: 30px;
    padding: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

    .heading_m > h3 {
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 5px;
        font-family: 'Libre Bodoni', serif;
    }

.food-items {
    display: grid;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

    .food-items img {
        position: relative;
        width: 100%;
/*        height: 100%;
*/        border-radius: 15px 15px 0 0;
/*        width: 400px;
        height: 300px;
        object-fit: cover;
*/    }

.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
    background-color: var(--white);
}

.details-sub {
    display: grid;
    grid-template-columns: auto auto;
}

    .details-sub > h5 {
        font-weight: 600;
        font-size: 18px;
    }

.price {
    text-align: right;
}

.details > p {
    color: #666;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
    font-family: 'Libre Bodoni', serif;
}


.soup {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.gedza {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.gunkan {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.rolls {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.desserts {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

h2 {
    color: var(--brown);
    margin-bottom: 30px;
    padding: 10px 30px;
    grid-column: 1/-1;
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Libre Bodoni', serif;
}

/*menu finish
*/


.heading {
    text-align: center;
    margin-bottom: 3rem;
}

    .heading span {
        font-size: 2.5rem;
        color: var(--peru);
    }

    .heading h3 {
        font-size: 4.5rem;
        color: #cd9452;
    }

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: transparent;
    color: var(--white);
    border: #fff 1px solid;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}

    .btn:hover {
        letter-spacing: .2rem;
    }

.header {
    background-color: #1f0a04;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--brown);
    z-index: 1000;
}

    .header .logo {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--white);
    }

        .header .logo i {
            color: var(--white);
            padding-right: .5rem;
        }

    .header .navbar a {
        font-size: 15px;
        margin-left: 2rem;
        color: var(--white);
    }

        .header .navbar a:hover {
            color: #aaa;
        }

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
    display: none;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-4rem) scale(0);
        opacity: 0;
    }
}

.home {
    padding: 0;
    /* background: var(--black); */
}

    .home .slide {
        min-height: 100vh;
        background-size: cover !important;
        background-position: center !important;
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .home .slide::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* background: var(--dark-bg); */
            z-index: -1;
        }

        .home .slide .content {
            text-align: center;
            width: 70rem;
            display: none;
        }

            .home .slide .content span {
                font-family: 'Libre Bodoni', serif;
                font-size: 7rem;
                display: block;
                padding-bottom: .5rem;
                color: var(--white);
                animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .2s backwards;
            }

            .home .slide .content h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 2rem;
                text-transform: uppercase;
                color: var(--white);
                text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .7);
                line-height: 1;
                padding: 2rem 0;
                animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .4s backwards;
            }

            .home .slide .content .btn {
                animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) .6s backwards;
            }

    .home .swiper-slide-active .content {
        display: inline-block;
    }

.swiper-button-next,
.swiper-button-prev {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: transparent;
    color: var(--white);
}

.swiper-pagination-bullet {
    background: #999;
}

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        background: transparent;
        color: var(--peru);
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
    }

.about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

    .about .image {
        flex: 1 1 41rem;
    }

        .about .image img {
            width: 100%;
        }

    .about .content {
        flex: 1 1 41rem;
    }

        .about .content .title {
            font-size: 4rem;
            color: var(--brown);
        }

        .about .content p {
            font-size: 1.7rem;
            color: var(--brown);
            padding: 1rem 0;
            line-height: 2;
            text-transform: none;
        }

        .about .content .icons-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            margin-top: 3rem;
        }

            .about .content .icons-container .icons {
                flex: 1 1 16rem;
                text-align: center;
                background: var(--light-bg);
                padding: 3rem 2rem;
            }

                .about .content .icons-container .icons img {
                    height: 5rem;
                }

                .about .content .icons-container .icons h3 {
                    padding-top: 1rem;
                    font-size: 2rem;
                    color: var(--light-black);
                    font-weight: normal;
                }

.food {
    background: var(--brown);
}

    .food .slide {
        text-align: center;
        padding: 4rem 2rem;
        border-radius: .5rem;
        transform: scale(.9);
        opacity: .5;
        margin-bottom: 4rem;
        cursor: pointer;
        background: antiquewhite;
    }

.swiper-pagination-bullet-active {
    background: var(--peru);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
}



.food .swiper-slide-active {
    transform: scale(1);
    opacity: 1;
    /* background-color: #aaa; */
    background: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.food .slide img {
    height: 25rem;
    margin-bottom: 1rem;
}

.food .slide h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--black);
}

.food .slide .price_f {
    font-size: 2.5rem;
    color: var(--peru);
}

.price_n{
    text-align: center;
    font-size: 30px;
}

.food-preview-container {
    background: var(--dark-bg);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1100;
    display: none;
    align-items: center;
    justify-content: center;
}

    .food-preview-container .food-preview {
        text-align: center;
        background: var(--white);
        padding: 3rem 2rem;
        border-radius: .5rem;
        display: none;
        width: 35rem;
    }

        .food-preview-container .food-preview.active {
            display: inline-block;
            animation: fadeIn 0.4s cubic-bezier(.54, 1.3, .63, 1.34) backwards;
        }

        .food-preview-container .food-preview img {
            height: 25rem;
            margin-bottom: 1rem;
        }

        .food-preview-container .food-preview h3 {
            padding: 1rem 0;
            font-size: 2.5rem;
            color: var(--black);
        }

        .food-preview-container .food-preview .stars {
            margin-top: .5rem;
        }

            .food-preview-container .food-preview .stars i {
                font-size: 1.7rem;
                color: var(--peru);
            }

        .food-preview-container .food-preview p {
            font-size: 1.6rem;
            color: var(--light-black);
            padding: 1rem 0;
            line-height: 2;
        }

        .food-preview-container .food-preview .price_f {
            font-size: 2.5rem;
            color: var(--black);
            margin-bottom: .5rem;
        }

#close-preview {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 6rem;
    cursor: pointer;
    color: var(--white);
}

    #close-preview:hover {
        transform: rotate(90deg);
    }

.menu {
    background: var(--light-bg);
}

    .menu .slide .title {
        padding: 1rem;
        font-size: 3rem;
        color: var(--white);
        background: var(--peru);
        margin-bottom: 3rem;
        text-align: center;
    }

    .menu .slide .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        padding-bottom: 4rem;
    }

        .menu .slide .box-container .box {
            flex: 1 1 41rem;
            background: var(--white);
            padding: 2rem;
            box-shadow: var(--box-shadow);
            border: var(--border);
            display: flex;
            align-items: center;
            gap: 1rem;
            justify-content: space-between;
        }

            .menu .slide .box-container .box h3 {
                font-size: 2.5rem;
                color: var(--black);
                padding-bottom: .5rem;
            }

            .menu .slide .box-container .box p {
                font-size: 1.6rem;
                color: var(--light-black);
                line-height: 2;
            }

            .menu .slide .box-container .box .price {
                font-size: 2.5rem;
                color: var(--peru);
            }

            .menu .slide .box-container .box:hover {
                transform: scale(.9);
                cursor: pointer;
            }

/*Order start
*/
.order {
    background: var(--peru);
}

    .order .heading span {
        color: var(--white);
    }

    .order .heading h3 {
        color: var(--white);
    }

    .order form {
        padding: 2rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
    }

        .order form .box-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }

            .order form .box-container .box {
                flex: 1 1 41rem;
            }

                .order form .box-container .box .inputBox input,
                .order form .box-container .box .inputBox textarea {
                    width: 100%;
                    margin: 1rem 0;
                    padding: 1.2rem 1.4rem;
                    font-size: 1.7rem;
                    color: var(--light-black);
                    border: var(--border);
                    text-transform: none;
                }

                    .order form .box-container .box .inputBox input::placeholder,
                    .order form .box-container .box .inputBox textarea::placeholder {
                        text-transform: capitalize;
                    }

                    .order form .box-container .box .inputBox input:focus,
                    .order form .box-container .box .inputBox textarea:focus {
                        background: var(--black);
                        color: var(--white);
                    }

                        .order form .box-container .box .inputBox input:focus::placeholder,
                        .order form .box-container .box .inputBox textarea:focus::placeholder {
                            color: var(--light-white);
                        }

                .order form .box-container .box .inputBox textarea {
                    height: 135px;
                    resize: none;
                }

                .order form .box-container .box .inputBox .map {
                    height: 20rem;
                    width: 100%;
                    margin: 1rem 0;
                }

                .order form .box-container .box .inputBox span {
                    color: var(--light-black);
                    font-size: 2rem;
                }
#body_button {
    background: #000;
    height: 20px;
    margin: 0;
    padding: 0;
    color: #ddf;
    background-color: #112;
    text-align: center;
    padding-top: 20px;
}

.button_hola,
.button_hola::before,
.button_hola::after,
.button_hola span,
.button_hola span::before,
.button_hola span::after {
    transition: all ease .5s;
}

.button_hola {
    position: relative;
    display: inline-block;
    padding: 0.3em;
    margin: 1em;
    border: solid 1px;
    text-transform: uppercase;
    cursor: pointer;
}

    .button_hola span {
        display: inline-block;
        width: 100%;
        padding: 0.6em 2em;
        line-height: 15px;
        font-size: 10px;
    }

    .button_hola:hover span {
        background-color: #fff;
        color: #112;
    }

    .button_hola::before,
    .button_hola::after,
    .button_hola span::before,
    .button_hola span::after {
        content: '';
        position: absolute;
        border: 1px;
    }

    .button_hola::before,
    .button_hola span::before {
        border-style: solid none;
    }

    .button_hola::before,
    .button_hola span::after {
        left: 0;
        top: -0.4em;
        width: 100%;
        height: calc(100% + 0.8em);
    }

    .button_hola::after,
    .button_hola span::after {
        border-style: none solid;
    }

    .button_hola::after,
    .button_hola span::before {
        top: 0;
        left: -0.4em;
        height: 100%;
        width: calc(100% + 0.8em);
    }

    .button_hola:hover::after,
    .button_hola:hover span::after {
        transform: scaleY(0);
    }

    .button_hola:hover::before,
    .button_hola:hover span::before {
        transform: scaleX(0);
    }

    .button_hola:hover span::after,
    .button_hola:hover span::before {
        opacity: 0;
    }


/*    order end
*/


/*footer start
*/
.footer {
    background: var(--brown);
    text-align: center;
    /* padding-bottom: 10rem; */
}

    .footer .icons-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;
    }

        .footer .icons-container .icons {
            text-align: center;
            padding: 3rem 2rem;
        }

            .footer .icons-container .icons i {
                height: 6rem;
                width: 6rem;
                border-radius: 50%;
                background: var(--peru);
                color: var(--white);
                margin-bottom: .5rem;
                line-height: 5.8rem;
                font-size: 2rem;
                color: var(--brown);
                background: var(--white);
            }

            .footer .icons-container .icons h3 {
                font-size: 2rem;
                color: var(--white);
                padding: 1rem 0;
            }

            .footer .icons-container .icons p {
                line-height: 1.5;
                font-size: 1.7rem;
                color: var(--light-black);
                text-transform: none;
            }

    .footer .share {
        margin: 1rem 0;
    }

        .footer .share a {
            height: 6rem;
            width: 6rem;
            line-height: 5.8rem;
            color: var(--white);
            background: var(--brown);
            margin: 0 .3rem;
            font-size: 2.5rem;
        }

            .footer .share a:hover {
                background: var(--peru);
            }

    .footer .credit {
        padding-top: 2.5rem;
        margin-top: 3rem;
        border-top: var(--border);
        font-size: 2rem;
        color: var(--light-black);
    }

        .footer .credit span {
            color: var(--peru);
        }

/*footer end
*/


/* registration window start*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.modal_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    padding: 60px 20px;
    background: #fff;
    border-radius: 30px;
    height: 70%;
}

.form-close {
    position: absolute;
    top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 2%;
    width: 40px;
    height: 40px;
    border: 2px solid #917b44;
    border-radius: 50%;
    cursor: pointer;
}

    .form-close span {
        position: relative;
        display: block;
        width: 55%;
        height: 2px;
        background: #917b44;
        transform: rotate(45deg);
    }

        .form-close span::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            content: "";
            background: #917b44;
            transform: rotate(-90deg);
        }

.form-buttons {
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 0 8px #917b44;
    border-radius: 20px;
}

    .form-buttons::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 180px;
        height: 40px;
        background: #e19f54;
        border-radius: 20px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

.form-buttons_active::before {
    left: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.form-buttons__btn {
    position: relative;
    z-index: 2;
    width: 180px;
    height: 40px;
    background: transparent;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;
}

.form-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-links__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background: #cd9452;
}

    .form-links__elem:last-child {
        margin-right: 0;
    }

.form-wrapper {
    position: relative;
    width: 60%;
}

    .form-wrapper input[type=submit] {
        width: 100%;
        padding: 10px 0;
        font-weight: 900;
        letter-spacing: 1px;
        border-radius: 20px;
        cursor: pointer;
        background: #cd9452;
    }

.form-group {
    margin-bottom: 20px;
}

    .form-group input {
        width: 100%;
        padding: 10px 0;
        border-bottom: 2px solid #000;
    }

.form-save {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

    .form-save input {
        margin-right: 10px;
    }

.form-log {
    position: relative;
    z-index: 3;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-log_inactive {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

.form-reg {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-reg_active {
    opacity: 1;
    z-index: 3;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


/*staff page start*/

.container-sotr {
    width: 90%;
    margin: 0 auto;
}

.backgr {
    background: #682f1fcc;
}

.dispflex {
    display: flex;
}

.mainpovar {
    justify-content: center;
}

.dvapovara {
    justify-content: center;
    flex-wrap: wrap;
}

.tripovora {
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.card {
    margin-top: 64px;
    width: 200px;
    height: 250px;
}

.one {
    margin-top: 30px;
}

.photopovora {
    width: 100%;
    height: 90%;
    box-shadow: 5px 4px 20px black;
    overflow: hidden;
    border-radius: 10px;
}

    .photopovora img {
        transition: 0.3s ease-in;
    }

    .photopovora:hover img {
        transform: scale(1.1);
    }

.two {
    margin-left: 100px;
    margin-right: 100px;
}

.three {
    margin-left: 100px;
    margin-right: 100px;
}

.four {
    margin-left: 100px;
    margin-right: 100px;
}

.five {
    margin-left: 100px;
    margin-right: 100px;
}

.six {
    margin-left: 100px;
    margin-right: 100px;
}

#photo1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 4px 20px black;
}

#photo2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 4px 20px black;
}

#photo3 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 4px 20px black;
}

#photo4 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 4px 20px black;
}

#photo5 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 4px 20px black;
}


#photo6 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 4px 20px black;
}

.namepovar {
    margin-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.position {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.heading1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-shadow: 3px 3px 1px rgba(205, 148, 82, 0.8);
    font-size: 34px;
    color: white;
    padding-top: 20px;
}

.fio {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

    .fio h3 {
        position: relative;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
    }


        .fio h3::after {
            position: absolute;
            bottom: 0;
            right: 0;
            content: "";
            width: 0;
            height: 2px;
            background: #cd9452;
            transition: 0.3s ease-in;
            transform: translateY(1px);
        }
    .fio h4 {
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
    }

.card:hover h3::after {
    width: 100%;
    left: 0;
}
/*reviews page starts*/

.review {
    padding-top: 50px;
}

.review-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

    .review-container h2 {
        margin-bottom: 20px;
        font-size: 34px;
        padding: 0;
    }

.review-form {
    max-width: 450px;
    width: 100%;
}

.review .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 16px;
}

    .review .form-group label {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .review .form-group input {
        padding: 6px 12px;
        background: transparent;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-transform: none;
    }

    .review .form-group textarea {
        padding: 6px 12px;
        height: 134px;
        resize: none;
        background: transparent;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        text-transform: none;
    }

.review .form-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    
}

    .review .form-btn input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 16px;
        width: 160px;
        height: 40px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        color: #fff;
        background: #cd9452;
        border-radius: 5px;
        cursor: pointer;
        text-transform: none;
    }


/*reviews page ends*/

.creation {
    padding: 40px 0;
    background: #1f0a04;
}

.creation-title {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    font-size: 32px;
}

.creation-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 0;
    background: #cd9452;
    color: #fff;
    border-radius: 10px;
    text-transform: none;

}
.creatin-card__link {
    text-transform: none;
}

.creation-card__name {
    margin-bottom: 10px;
    text-transform: none;
}

.creation-card span {
    color: #682f1fcc;
    text-transform: none;
}


@media(max-width: 1481px) {
    .two {
        margin-left: 50px;
        margin-right: 50px;
    }

    .three {
        margin-left: 50px;
        margin-right: 50px;
    }

    .four {
        margin-left: 50px;
        margin-right: 50px;
    }

    .five {
        margin-left: 50px;
        margin-right: 50px;
    }

    .six {
        margin-left: 50px;
        margin-right: 50px;
    }
}
/*staff page ends*/





/* media queries  */

@media (max-width:1200px) {

    section {
        padding: 3rem 5%;
    }
}

@media (max-width:991px) {

    section {
        padding: 3rem 2rem;
    }

    html {
        font-size: 55%;
    }

    .content h3 {
        font-size: 2rem;
    }

    .location_item {
        width: 100%;
        height: 300px;
    }
}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--brown);
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

        .header .navbar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }

        .header .navbar a {
            display: block;
            margin: 2rem;
        }

    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        bottom: 1rem;
    }

    .menu .slide .box-container .box {
        flex-flow: column;
        text-align: center;
    }

    .location_item {
        width: 100%;
        height: 300px;
    }
}


@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    h3 {
        font-size: 2rem;
    }
}

@media (max-width:375px) {

    html {
        font-size: 40%;
    }

    h3 {
        font-size: 1rem;
    }
}

