<section class="menu_m">
      <div class="heading_m">
         <h3>&mdash; МЕНЮ &mdash;</h3>
      </div>
      <div class="food-items">
         <img src="img/miso-ramen-pork.jpg">
         <div class="details">
            <div class="details-sub">
               <h5></h5>
            </div>
         </div>
      </div>
   </section>
