<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0s">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <div class="card">
            <form asp-action="AddDish" asp-controller="Menu">
            <input type="number" class="card-numberofdish" placeholder="Введите номер блюда">
            </form>
            <form asp-action="AddDrink" asp-controller="Drink">
            <input type="number" class="card-numberofdrink" placeholder="Введиие номер напитка">
             </form>
            <input type="submit" value="Рассчитать">
        <input type="number" value="950" readonly class="cost1">
        <input type="number" value="150" readonly class="cost2">
        <form asp-action="totalmenu">
            <input type="text" class="card-totalcost" readonly>
            <input type="submit" value="Заказать">
        </form>

    </div>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="main.js"></script>
</body>
</html>