@model Progect_1.Storage.Entity.Review;

	<section class="review">
        <div class="review-container">
            <h2>Отзывы</h2>
            <form asp-controller="Reviews" asp-action="Create" method="post" class="review-form">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" id="name" placeholder="Введите ваше имя" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Фамилия</label>
                    <input type="text" id="lastname" placeholder="Введите вашу фамилию" required>
                </div>
                <div class="form-group">
                    <label for="review">Отзыв</label>
                    <textarea id="review" required placeholder="Введите ваш отзыв"></textarea>
                </div>
                <div class="form-btn">
                    <input type="submit" value="Добавить отзыв">
                </div>
            </form>
        </div>
    </section>
 
